DB/testdb/table_name1.DTD

<!ELEMENT table_name1 (row)*>
<!ELEMENT row (column_name1,column_name2,column_name3)>
<!ATTLIST row num ID #REQUIRED>
<!ELEMENT column_name1 (#PCDATA)>
<!ATTLIST column_name1 type CDATA #FIXED "varchar">
<!ELEMENT column_name2 (#PCDATA)>
<!ATTLIST column_name2 type CDATA #FIXED "int">
<!ELEMENT column_name3 (#PCDATA)>
<!ATTLIST column_name3 type CDATA #FIXED "varchar">
